---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { useTranslations } from "../i18n/utils";
const t = useTranslations(Astro.url);
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-white text-xl font-bold">
        {t("home.letsWork")}
      </h1>
    </header>
    <address class="flex flex-col mt-4">
      <h2 class="text-gray-500">{t("home.contactDetails")}</h2>
      <p>
        <a
          class="hover:underline-primary-500 hover:underline"
          href={`mailto:${LINKS.email}`}>{LINKS.email}</a
        >
      </p>
      <p>{t("home.nation")}</p>
    </address>
    <div class="flex flex-col mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul>
        <li>
          <a
            href={LINKS.linkedin}
            class="hover:underline-primary-500 hover:underline"
            target="_blank">Linkedin</a
          >
        </li>
        <li>
          <a
            href={LINKS.github}
            class="hover:underline-primary-500 hover:underline"
            target="_blank">Github</a
          >
        </li>

        <li>
          <a
            href={LINKS.discord}
            class="hover:underline-primary-500 hover:underline"
            target="_blank">Discord</a
          >
        </li>
      </ul>
    </div>
  </div>
</Card>
